@charset "UTF-8";

*, *::before, *::after{
  box-sizing: border-box;
}







.text span{
  height: 1px;
  display:inline-block;
  position:relative;
  animation:pop 2s ease-in 0.5s infinite;
}
.text span:nth-child(1){
  animation-delay: 0s;
}
.text span:nth-child(2){
  animation-delay: 0.1s;
}
.text span:nth-child(3){
  animation-delay: 0.2s;
}
.text span:nth-child(4){
  animation-delay: 0.3s;
}

@keyframes pop{
  0%{
    top: 0;
    transform:scale(1);
  }
  30%{
    top: 100%;
  }
  50%{
    transform:scale(1);
  }
  90%{
    top: 0;
    transform:scale(1.2,0.8);
  }
  100%{
    top: 0;
    transform:scale(1);
  }
}




@keyframes ugoki1{
  0%{
    left: 0%;
  }
  100%{
    left: 93%
  }
}

@keyframes ugoki2{
  0%{
    top: 50%
  }
  100%{
    top: 100%
  }
}

@keyframes pink{
  0%{
    background-color: red;
  }
  100%{
    background-color: #FA009F;
  }
}

@keyframes green{
  0%{
    background-color: #09FA00;
  }
  100%{
    background-color: #0600FA;
  }
}


.ball{  
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  border-radius: 50%;
  animation-delay: 0s;
  background-color: red ;
   animation: ugoki1 2.5s linear infinite alternate, ugoki2 1s ease-in infinite alternate,pink 1s ease-in infinite alternate ;
  
}
.ball2{
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  border-radius: 50%;
  animation-delay: 1s;
  animation: ugoki1 1.5s linear infinite alternate, ugoki2 1s ease-in infinite alternate,green 1s ease-in infinite alternate ;

}